# <font face = 'Impact' color = '#FFAEBC' > Loading, Organizing, and Storing Data Two <font/>
#### <font face = 'Times New Roman' color = '#B5E5CF'> License: GPL v3.0<font/>
#### <font face = 'Times New Roman' color = '#B5E5CF'> Author and Trainer: Paolo Hilado MSc. (Data Science)<font/>
In this section, we’ll learn how to load datasets into Python using the pandas library, focusing on common file formats like CSV. Once the data is loaded into a DataFrame, we’ll explore simple techniques to identify missing values. This includes checking for NaN entries, summarizing null counts per column, and using visual or logical methods to detect incomplete rows. Spotting missing data early is an important step in ensuring data quality before analysis or modeling.

In [1]:
# Import the necessary libraries
import pandas as pd
import numpy as np
import os

In [2]:
#Checking out the current working directory
print(os.getcwd())

C:\Users\jaspe\Documents\Python Training Prompt\NB_data_D1

In [4]:
#Loading a .Sav file and assigning it to a variable
#We will open and work on "Bank.sav"
import pandas as pd
df = pd.read_spss("PracticeTest.sav")
df

,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8,Item9,Item10,...,Item21,Item22,Item23,Item24,Item25,Item26,Item27,Item28,Item29,Item30
0,1.0,2.0,1.0,5.0,2.0,3.0,1.0,5.0,4.0,1.0,...,4.0,2.0,4.0,3.0,4.0,1.0,2.0,1.0,2.0,4.0
1,5.0,5.0,1.0,4.0,5.0,4.0,5.0,5.0,5.0,5.0,...,5.0,1.0,5.0,3.0,5.0,4.0,3.0,1.0,3.0,3.0
2,2.0,5.0,1.0,3.0,3.0,2.0,5.0,1.0,5.0,2.0,...,2.0,2.0,3.0,4.0,2.0,5.0,3.0,2.0,1.0,2.0
3,2.0,4.0,1.0,5.0,2.0,3.0,2.0,2.0,2.0,5.0,...,2.0,2.0,3.0,4.0,2.0,4.0,5.0,1.0,3.0,2.0
4,4.0,3.0,1.0,5.0,4.0,2.0,5.0,4.0,1.0,1.0,...,5.0,1.0,5.0,3.0,4.0,4.0,2.0,2.0,2.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
454,1.0,4.0,3.0,5.0,2.0,4.0,5.0,2.0,2.0,2.0,...,4.0,1.0,4.0,2.0,3.0,2.0,4.0,4.0,3.0,1.0
455,1.0,4.0,1.0,3.0,3.0,3.0,2.0,5.0,4.0,5.0,...,4.0,4.0,2.0,5.0,3.0,3.0,3.0,2.0,2.0,2.0
456,2.0,5.0,1.0,5.0,1.0,4.0,5.0,5.0,5.0,5.0,...,1.0,1.0,4.0,3.0,1.0,2.0,5.0,1.0,3.0,2.0
457,4.0,4.0,4.0,5.0,2.0,2.0,2.0,2.0,4.0,5.0,...,2.0,1.0,2.0,1.0,3.0,4.0,4.0,3.0,4.0,5.0
458,1.0,5.0,2.0,5.0,2.0,5.0,2.0,2.0,4.0,2.0,...,4.0,2.0,2.0,2.0,3.0,2.0,5.0,4.0,2.0,3.0

In [5]:
# Viewing the first 5 rows
df.head(5)

,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8,Item9,Item10,...,Item21,Item22,Item23,Item24,Item25,Item26,Item27,Item28,Item29,Item30
0,1.0,2.0,1.0,5.0,2.0,3.0,1.0,5.0,4.0,1.0,...,4.0,2.0,4.0,3.0,4.0,1.0,2.0,1.0,2.0,4.0
1,5.0,5.0,1.0,4.0,5.0,4.0,5.0,5.0,5.0,5.0,...,5.0,1.0,5.0,3.0,5.0,4.0,3.0,1.0,3.0,3.0
2,2.0,5.0,1.0,3.0,3.0,2.0,5.0,1.0,5.0,2.0,...,2.0,2.0,3.0,4.0,2.0,5.0,3.0,2.0,1.0,2.0
3,2.0,4.0,1.0,5.0,2.0,3.0,2.0,2.0,2.0,5.0,...,2.0,2.0,3.0,4.0,2.0,4.0,5.0,1.0,3.0,2.0
4,4.0,3.0,1.0,5.0,4.0,2.0,5.0,4.0,1.0,1.0,...,5.0,1.0,5.0,3.0,4.0,4.0,2.0,2.0,2.0,3.0

In [6]:
# Viewing the last 5 rows
df.tail(5)

,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8,Item9,Item10,...,Item21,Item22,Item23,Item24,Item25,Item26,Item27,Item28,Item29,Item30
454,1.0,4.0,3.0,5.0,2.0,4.0,5.0,2.0,2.0,2.0,...,4.0,1.0,4.0,2.0,3.0,2.0,4.0,4.0,3.0,1.0
455,1.0,4.0,1.0,3.0,3.0,3.0,2.0,5.0,4.0,5.0,...,4.0,4.0,2.0,5.0,3.0,3.0,3.0,2.0,2.0,2.0
456,2.0,5.0,1.0,5.0,1.0,4.0,5.0,5.0,5.0,5.0,...,1.0,1.0,4.0,3.0,1.0,2.0,5.0,1.0,3.0,2.0
457,4.0,4.0,4.0,5.0,2.0,2.0,2.0,2.0,4.0,5.0,...,2.0,1.0,2.0,1.0,3.0,4.0,4.0,3.0,4.0,5.0
458,1.0,5.0,2.0,5.0,2.0,5.0,2.0,2.0,4.0,2.0,...,4.0,2.0,2.0,2.0,3.0,2.0,5.0,4.0,2.0,3.0

In [7]:
#Checking the structure of the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 459 entries, 0 to 458
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Item1   449 non-null    float64
 1   Item2   449 non-null    float64
 2   Item3   449 non-null    float64
 3   Item4   449 non-null    float64
 4   Item5   450 non-null    float64
 5   Item6   446 non-null    float64
 6   Item7   446 non-null    float64
 7   Item8   446 non-null    float64
 8   Item9   447 non-null    float64
 9   Item10  451 non-null    float64
 10  Item11  451 non-null    float64
 11  Item12  451 non-null    float64
 12  Item13  450 non-null    float64
 13  Item14  450 non-null    float64
 14  Item15  450 non-null    float64
 15  Item16  449 non-null    float64
 16  Item17  450 non-null    float64
 17  Item18  450 non-null    float64
 18  Item19  450 non-null    float64
 19  Item20  450 non-null    float64
 20  Item21  450 non-null    float64
 21  Item22  450 non-null    float64
 22  Item23  450 non-null    float64
 23  Item24  451 non-null    float64
 24  Item25  455 non-null    float64
 25  Item26  453 non-null    float64
 26  Item27  452 non-null    float64
 27  Item28  451 non-null    float64
 28  Item29  451 non-null    float64
 29  Item30  451 non-null    float64
dtypes: float64(30)
memory usage: 107.7 KB

In [8]:
#Slicing the dataframe
#Slice column 3 to 5 with all of its observations
sub = df.iloc[:, 2:5]
sub

     Item3  Item4  Item5
0      1.0    5.0    2.0
1      1.0    4.0    5.0
2      1.0    3.0    3.0
3      1.0    5.0    2.0
4      1.0    5.0    4.0
..     ...    ...    ...
454    3.0    5.0    2.0
455    1.0    3.0    3.0
456    1.0    5.0    1.0
457    4.0    5.0    2.0
458    2.0    5.0    2.0

[459 rows x 3 columns]

In [11]:
#Slice the data frame to only include observations index of 15 to 35
sub1 = df.iloc[15:35, :]
sub1

,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8,Item9,Item10,...,Item21,Item22,Item23,Item24,Item25,Item26,Item27,Item28,Item29,Item30
15,2.0,2.0,1.0,4.0,2.0,2.0,2.0,5.0,4.0,2.0,...,2.0,4.0,3.0,3.0,2.0,3.0,5.0,2.0,2.0,3.0
16,2.0,4.0,4.0,3.0,3.0,2.0,2.0,4.0,5.0,4.0,...,1.0,3.0,5.0,5.0,3.0,4.0,4.0,4.0,5.0,3.0
17,2.0,5.0,2.0,2.0,2.0,5.0,2.0,1.0,2.0,2.0,...,5.0,4.0,2.0,2.0,2.0,3.0,5.0,4.0,2.0,4.0
18,2.0,4.0,1.0,4.0,3.0,4.0,5.0,1.0,2.0,5.0,...,1.0,2.0,4.0,4.0,2.0,3.0,5.0,2.0,3.0,2.0
19,4.0,2.0,1.0,2.0,3.0,2.0,2.0,1.0,4.0,5.0,...,2.0,3.0,3.0,5.0,2.0,5.0,3.0,3.0,2.0,1.0
20,5.0,3.0,1.0,1.0,3.0,1.0,2.0,5.0,5.0,5.0,...,5.0,1.0,3.0,1.0,3.0,3.0,3.0,2.0,1.0,2.0
21,5.0,1.0,3.0,1.0,5.0,1.0,4.0,2.0,5.0,2.0,...,5.0,5.0,1.0,4.0,2.0,1.0,1.0,5.0,1.0,2.0
22,5.0,4.0,1.0,3.0,2.0,4.0,5.0,5.0,2.0,4.0,...,4.0,1.0,5.0,1.0,3.0,3.0,1.0,1.0,5.0,2.0
23,3.0,4.0,2.0,5.0,2.0,3.0,5.0,4.0,1.0,1.0,...,5.0,1.0,5.0,3.0,3.0,3.0,3.0,1.0,2.0,3.0
24,2.0,3.0,2.0,3.0,1.0,4.0,2.0,2.0,5.0,5.0,...,5.0,4.0,3.0,1.0,1.0,1.0,5.0,4.0,1.0,1.0
25,3.0,2.0,1.0,1.0,1.0,1.0,5.0,5.0,4.0,5.0,...,5.0,1.0,4.0,5.0,2.0,2.0,2.0,1.0,2.0,1.0
26,1.0,3.0,2.0,5.0,1.0,4.0,1.0,4.0,4.0,5.0,...,5.0,3.0,2.0,3.0,2.0,2.0,3.0,2.0,2.0,1.0
27,1.0,2.0,2.0,4.0,3.0,2.0,2.0,4.0,1.0,1.0,...,1.0,2.0,5.0,1.0,3.0,4.0,3.0,1.0,2.0,2.0
28,4.0,4.0,2.0,5.0,2.0,2.0,2.0,5.0,4.0,1.0,...,2.0,2.0,5.0,3.0,2.0,4.0,5.0,2.0,5.0,2.0
29,5.0,2.0,3.0,2.0,4.0,1.0,2.0,2.0,2.0,1.0,...,5.0,2.0,2.0,2.0,2.0,3.0,4.0,5.0,3.0,4.0
30,4.0,2.0,2.0,5.0,5.0,5.0,5.0,2.0,2.0,5.0,...,2.0,2.0,5.0,2.0,5.0,1.0,2.0,4.0,5.0,3.0
31,1.0,3.0,1.0,2.0,3.0,3.0,1.0,4.0,5.0,2.0,...,1.0,1.0,2.0,3.0,3.0,2.0,2.0,3.0,1.0,3.0
32,1.0,2.0,1.0,5.0,1.0,2.0,2.0,4.0,1.0,2.0,...,1.0,1.0,3.0,2.0,2.0,2.0,2.0,2.0,1.0,3.0
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,2.0,2.0,1.0,2.0,2.0,3.0,5.0,4.0,5.0,5.0,...,2.0,1.0,5.0,4.0,2.0,3.0,5.0,1.0,2.0,2.0

In [12]:
#Checking for NAs or missing cases
df.isnull().values.any()

np.True_

In [15]:
#Subset dataframe to include all rows that is made up of all missing cases
missing_df1= df[df.isnull().all(axis=1)] # take a subset to include all rows with missing cases
missing_df2= df[df.isnull().any(axis=1)] # take a subset to include any row with missing cases

In [16]:
missing_df1

,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8,Item9,Item10,...,Item21,Item22,Item23,Item24,Item25,Item26,Item27,Item28,Item29,Item30
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
missing_df1.to_excel("ForClarification.xlsx")

In [17]:
missing_df2

,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8,Item9,Item10,...,Item21,Item22,Item23,Item24,Item25,Item26,Item27,Item28,Item29,Item30
11,2.0,4.0,3.0,4.0,4.0,3.0,2.0,1.0,2.0,5.0,...,1.0,2.0,2.0,2.0,3.0,2.0,4.0,3.0,2.0,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.0,4.0,4.0,2.0,2.0,3.0
51,1.0,2.0,3.0,4.0,2.0,4.0,2.0,2.0,1.0,2.0,...,5.0,2.0,4.0,4.0,2.0,NaN,NaN,NaN,NaN,4.0
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,3.0,4.0,2.0,5.0,2.0,5.0,2.0,2.0,5.0,5.0,...,4.0,2.0,4.0,3.0,2.0,3.0,NaN,NaN,NaN,NaN
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,3.0,2.0,4.0,2.0,3.0
95,NaN,NaN,NaN,NaN,3.0,4.0,2.0,5.0,5.0,2.0,...,5.0,4.0,2.0,2.0,2.0,1.0,5.0,2.0,3.0,2.0
158,1.0,3.0,1.0,4.0,2.0,3.0,1.0,4.0,1.0,2.0,...,5.0,1.0,4.0,4.0,2.0,NaN,NaN,NaN,NaN,4.0
184,2.0,2.0,3.0,1.0,3.0,NaN,NaN,NaN,NaN,1.0,...,2.0,2.0,2.0,2.0,2.0,1.0,4.0,4.0,3.0,3.0
185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,4.0,1.0,3.0,2.0,5.0
210,3.0,2.0,1.0,5.0,2.0,2.0,1.0,2.0,1.0,2.0,...,5.0,2.0,2.0,2.0,4.0,5.0,3.0,2.0,5.0,3.0
229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.0,3.0,2.0,4.0,2.0,2.0
299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
360,5.0,3.0,2.0,2.0,3.0,NaN,NaN,NaN,NaN,5.0,...,5.0,1.0,3.0,1.0,2.0,3.0,4.0,NaN,NaN,NaN
367,NaN,NaN,NaN,NaN,1.0,2.0,2.0,4.0,5.0,1.0,...,2.0,2.0,2.0,1.0,3.0,1.0,2.0,2.0,2.0,3.0
382,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
403,3.0,4.0,2.0,3.0,3.0,NaN,NaN,NaN,NaN,2.0,...,1.0,4.0,2.0,1.0,2.0,1.0,2.0,2.0,3.0,4.0
410,4.0,2.0,2.0,3.0,2.0,2.0,1.0,4.0,4.0,1.0,...,1.0,2.0,3.0,4.0,2.0,4.0,2.0,2.0,4.0,NaN
427,1.0,3.0,3.0,2.0,1.0,NaN,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,5.0,2.0,1.0,3.0,1.0,5.0,4.0
432,4.0,1.0,1.0,5.0,3.0,2.0,5.0,5.0,1.0,2.0,...,2.0,1.0,4.0,1.0,1.0,3.0,5.0,4.0,4.0,3.0
439,5.0,1.0,4.0,2.0,NaN,NaN,NaN,NaN,2.0,5.0,...,5.0,2.0,4.0,1.0,5.0,1.0,4.0,1.0,2.0,1.0

In [20]:
missing_df2.to_csv("ForClarification.csv")

In [22]:
#Subset dataframe to include all rows with complete cases
complete_df= df[df.notnull().all(axis=1)]
complete_df.isnull().values.any()

np.False_

In [24]:
#Getting a simple descriptives for incomplete and complete records
desc1 = df.describe()
desc2 =  complete_df.describe()

In [26]:
a = desc1.T
a. head()

       count      mean       std  min  25%  50%  75%  max
Item1  449.0  2.398664  1.347649  1.0  1.0  2.0  3.0  5.0
Item2  449.0  3.044543  1.222108  1.0  2.0  3.0  4.0  5.0
Item3  449.0  1.864143  0.991834  1.0  1.0  2.0  2.0  5.0
Item4  449.0  3.463252  1.357555  1.0  2.0  4.0  5.0  5.0
Item5  450.0  2.475556  1.016820  1.0  2.0  2.0  3.0  5.0

In [ ]:
desc2.T